<header class="bg-wite py-3 border-bottom shadow-sm">
  <div class="container d-flex justify-content-between align-items-center">
      <a href="/" title="Return to home page"><img src="/images/site/logo_your_point_is_3.png" alt="Your Point Is Logo" class="img-fluid" style="max-height: 80px;"></a>
      <% if (loggedIn) {%>
      <div>
        <span class="m-2"><%=loggedIn.displayName%></span>| 
        <a class="btn btn-outline-danger ms-2" title="Click to log out" href="/auth/logout">Logout</a>
        <% } else { %>
        <a class="btn btn-outline-primary" title="Click to log in" href="/auth/login">Login</a>
        <% } %>
      </div>
  </div>
</header>
