<header id="top-header">
  <span class="site-name">
    <a href="/" title="Return to home page">Your Point Is</a>
  </span>
    <div id="tools">
      <% if (loggedIn) {%>
        <span>
            <span><%=loggedIn.displayName%></span> | <a class="a-button" title="Click to log out" href="/auth/logout">Logout</a>
        </span>
      <% } else { %>
        <a class="a-button" title="Click to log in" href="/auth/login">Login</a>
      <% } %>
    </div>
</header>
