<section id="join-section" class="form-wrapper">
    <% if (isOwner) { %>
        <h2>Welcome to your room</h2>
    <% } else { %>
        <h2>Welcome to the room</h2>
    <% } %>
    <p>Enter your name and click the Join Room button to begin the estimation session</p>
    <div>
    <label for="join-name">Name:
        <input type="text" id="join-name" placeholder="John Smith" value="<%= displayName %>">
    </label>
    </div>
    <button id="join-button" class="btn btn-secondary btn-lg mt-4">Join Room</button>
</section>

<script>
  document.getElementById("join-button").addEventListener("click", () => {
    const name = document.getElementById("join-name").value;
    if (name) {
      console.log(`${name} is joining room <%= roomCode %>`);
      joinRoom(name);
    }
  });

  function hideJoin() {
    const section = document.getElementById("join-section");
    if (section) {
      section.style.display = "none";
    }
  }
</script>