<div class="navWrapper">
    <div class="title"></div>
    
    <nav>
        <ul>
            <a href="#">Home</a>
            <a href="#">Point</a>
        </ul>
    </nav>
    
    <div class="buttons"></div>
</div>