<section id="vote-section" class="hidden">
  <div class="card-wrapper">
    <% cardDeck.forEach((c) => { %>
    <div class="card">
      <h2 class="card-title"><%= c %></h2>
    </div>
    <% }); %>
  </div>

  <!-- The button group allows for better formatting for the owner -->
  <div class="button-group">
  <div class="voter-button">
    <button id="pass-vote" class="btn btn-secondary btn-lg mt-4">
      Pass
    </button>
  </div>

  <% if (isOwner) { %>
  <div class="owner-button">
    <button id="collect-votes" class="btn btn-secondary btn-lg mt-4">
      Your Point Is?
    </button>
  </div>
  <div class="owner-button">
    <button
      id="refresh"
      class="btn btn-secondary btn-lg mt-4"
      onclick="refresh()"
    >
      Refresh
    </button>
  </div>
  <% } %>
  </div>
</section>

<script>
  const cards = document.querySelectorAll('.card');

  cards.forEach((card) => {
    card.addEventListener('click', () => {
      const cardNumber = card.querySelector('.card-title').textContent;

      resetCards(cardNumber);

      let vote = cardNumber;
      if (card.classList.contains('selectedCard')) {
        vote = null;
      }

      card.classList.toggle('selectedCard');

      getSocket().emit('voting', { room: roomCode, vote: vote });
    });
  });


  // When a user selects the button, they will set their status as passing
  // the votes instead of participating in this vote
  const passVoteButton = document.getElementById('pass-vote');
  passVoteButton.addEventListener('click', () => {
    passVote();
  })

  const collectVotesButton = document.getElementById('collect-votes');
  if (collectVotesButton) {
    collectVotesButton.addEventListener('click', () => {
      collectVotes();
    });
  }

  function showVote() {
    resetCards();
    document.getElementById('vote-section').classList.remove('hidden');
  }

  function hideVote() {
    document.getElementById('vote-section').classList.add('hidden');
  }

  function resetCards(cardNumber) {
    for (const card of cards) {
      if (
        !(
          cardNumber &&
          card.querySelector('.card-title').textContent === cardNumber
        )
      ) {
        card.classList.remove('selectedCard');
      }
    }
  }

  function passVote() {
    cards.forEach((card) => {
      if (card.classList.contains('selectedCard')) {
        card.classList.remove('selectedCard');
      }
    });
    
    let vote = null;
    getSocket().emit('pass_vote', { room: roomCode, vote: vote });
  }

  function collectVotes() {
    hideVote();
    getSocket().emit('collect_votes', roomCode);
  }

  function refresh() {
    getSocket().emit('new_round', roomCode);
  }
</script>
