<h1>Welcome!</h1>
<%- messages() %>
<div class="hero">
    <div class="hero-content">
        <picture>
            <source media="(max-width: 564px)" srcset="/images/welcome-sm.webp" type="image/webp">
            <source media="(min-width: 565px)" srcset="/images/welcome-lg.webp" type="image/webp">
            <img src="/images/welcome-sm.jpg" alt="Your Point Is" />
        </picture>
        <div class="hero-card">
            <h2>Your Point Is</h2>
            <div class="hero-card-details">

            </div>
            <button class="call-to-action">Get A Room</button>
        </div>
    </div>
</div>
