.card {
  height: 300px;
  background-color: white;
}
.card:hover {
  background-color: black;
  color: white;
}

.card-body {
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-title {
  user-select: none;
}

.selectedCard {
  background-color: black;
  color: white;
}


/* this will go away once we do the pie chart */
.voted-card {
  height: 300px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

